:root {
  --neutral-background: #f5f5f7;
  --neutral-surface-primary: #ffffff;
  --neutral-surface-grey-lighter: #f4f4f4;
  --neutral-surface-grey-darker: #e9e9e9;
  --neutral-surface-reverse: #7e7e7e;
  --neutral-on-surface-primary: #282828;
  --neutral-on-surface-secondary: #7e7e7e;
  --neutral-on-surface-tertiary: #a9a9a9;
  --neutral-on-surface-disabled: #c2c2c2;
  --neutral-on-surface-reverse: #ffffff;
  --neutral-on-surface-blue: #006bff;
  --neutral-line-outline: #e9e9e9;
  --neutral-line-separator-1: #e9e9e9;
  --neutral-line-separator-2: #d4d4d4;
  --feature-brand-primary: #006bff;
  --feature-brand-on-primary: #ffffff;
  --feature-brand-container: #e6f0ff;
  --feature-brand-container-lighter: #f3f7fe;
  --feature-brand-on-container: #005de0;
  --feature-cashier-primary: #26c3bb;
  --feature-cashier-container: #e9f9f8;
  --feature-customer-primary: #54a73f;
  --feature-customer-container: #eef6ec;
  --feature-invoice-primary: #ff9100;
  --feature-invoice-container: #fff4e6;
  --feature-product-primary: #782aae;
  --feature-product-container: #f2eaf7;
  --status-grey-primary: #a9a9a9;
  --status-grey-container: #e9e9e9;
  --status-grey-on-container: #535353;
  --status-green-primary: #54a73f;
  --status-green-container: #eef6ec;
  --status-green-on-container: #52a33e;
  --status-yellow-primary: #f2ce17;
  --status-yellow-container: #fefae8;
  --status-yellow-on-container: #e0b20c;
  --status-orange-primary: #ff9100;
  --status-orange-container: #fff4e6;
  --status-orange-on-container: #e07f00;
  --status-red-primary: #d0021b;
  --status-red-container: #fae6e8;
  --status-red-on-container: #d0021b;
  --membership-basic-main: #006bff;
  --membership-basic-container: #e6f0ff;
  --spacing-xx-sm: 4px;
  --spacing-x-sm: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-big: 20px;
  --spacing-x-big: 24px;
  --spacing-xx-big: 28px;
  --spacing-xxx-big: 32px;
  --spacing-lg: 40px;
  --spacing-x-lg: 48px;
  --spacing-xx-lg: 64px;
  --spacing-xxx-lg: 80px;
  --radius-full: 100px;
  --radius-2xl: 24px;
  --radius-xl: 16px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --shadow-navbar: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sticky: 0 -3px 10px rgba(0, 0, 0, 0.04);
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 92px;
}

